*{
	margin: 0;
	padding: 0;
}
.abs-center{
	position: absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%,-50%);
}
.ver-center{
	position: absolute;
	left: 50%;
	transform:translateX(-50%);
}
.her-center{
	position: absolute;
	top:50%;
	transform:translateY(-50%);
}