.bread-crumb{
	font-size:16px;
	height:80px;
	position: absolute;
	top:-44px;
	width: 80%;
	border-radius: 3px;
	background: white;
	box-shadow: 2px 3px 10px rgba(0,0,0,.25);
	padding-left: 10px;
}
.el-menu-item-group__title{
	padding-top: 0px;
}
.el-submenu__title:hover,
.el-submenu .el-menu-item:hover,
.el-menu-item:hover{
	background: @ActiveBlue;
	transition: all .1s ease;
	color: white;
}
.el-tabs__item.is-active {
    color: white;
    background: @ActiveBlue;
    border-radius: 4px;
    transition: all .25s ease;
}
.el-tabs__active-bar{
	display: none;
}
.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.tag {
	background: @ActiveBlue;
	color:white;
	display: inline-block;
	cursor: pointer;
	&-small{
		padding: 3px 6px;		
		margin: 0 2px;
		border-radius: 3px;
		font-size: 12px;
		line-height:12px;
	}

}
.article-title{
	color:black;
	margin: 10px 0;
	cursor: pointer;
	&-large{
		font-size: 24px;
	}
	&-middle{
		font-size: 18px;
	}
	&-small{
		font-size: 16px;
	}
}
.info-body {
	// width: 80%;
	border-radius: 3px;
	padding: 0 10%;
	padding-top:44px;
	background: @LightGray;
	margin:0 auto;
	position: relative;
	margin-top: 20px;
}
.active {
	color: @ActiveBlue;
}
.btn{
	display: inline-block;
	border-radius: 5px;
	padding: 5px 2px;
	text-align: center;
}
.box-shaow{
	box-shadow: 0 0 4px rgba(0,0,0,.9);
}
.category-title{
	color:@ActiveBlue;
	display: block;
	border-top: 2px solid black;
	cursor: pointer;
	&-small{
		font-size: 16px;
		padding:5px 0;
	}
	&-middle{
		padding: 8px 0;
		font-size: 24px;
	}
	&-large {
		padding: 10px 0;
		font-size: 32px;
	}
}
/**
 * 新闻的附加信息，作者，时间、浏览
 */
.pagenation{
	margin: 5px 0;
}
.news-extra-info{
	color: @DarkGray;
	margin:3px 0;
	display: inline-block;
}
a{
	color: black;
}